
#body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#allSvg {
    height: 100%;
    width: 100%;
}
path {
    fill: #D3D3D3;
}
.inactive {
    fill: #D3D3D3;
}
.active {
    fill: #71797E;
}
.appContainer {
    width: 100%;
    height: 100%;
    background: radial-gradient(at center, #215980, #160E1C);
} 
.mainContent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit:cover;
}  
.sidenavDiv {
    padding: 20px;
    background-color: transparent;
    width: 20%;
    color: white;
}
@media (max-width:1536px) {
    .mainContent {
        display: flex;
        height: 100%;
        width: 1536px;
        align-items: center;
        justify-content: center;
        object-fit:contain;
    }
}