<!-- <h1 mat-dialog-title>{{countryData.name}}</h1> -->
<h1 class="header">{{selectedCountry}}</h1> <br>
<mat-dialog-content class="mat-typography grid-container">
    <div class="left">
        <mat-form-field *ngIf="cities.length > 0">
            <mat-label>Select a city</mat-label>
            <mat-select [(value)]="selectedCity" (selectionChange)="onCitySelectionChange()">
                <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
            </mat-select>
        </mat-form-field>
        <p *ngIf="selectedCity">Displaying current weather info for {{selectedCity}}</p>
    </div>

    <div class="right">
        @if (weatherData) {
            <div class="inlineDiv">
                <h2><b>{{weatherData.name}} <span>{{weatherData.main.temp}}°C</span></b></h2>
            </div>
            <p><span><b>{{weatherData.weather[0].main}}</b></span></p>
            <p><b>Feels like:: </b><span>{{weatherData.main.feels_like}}°C</span></p>
            <p><b>Minimal temperature: </b><span>{{weatherData.main.temp_min}}°C</span></p>
            <p><b>Maximal temperature: </b><span>{{weatherData.main.temp_max}}°C</span></p>
            <p><b>Air presure: </b><span>{{weatherData.main.pressure}}mb</span></p>
            <p><b>Humidity: </b><span>{{weatherData.main.humidity}}%</span></p>
            <p><b>Wind speed: </b><span>{{weatherData.wind.speed}}m/s</span></p>
            <p><b>Sunrise: </b><span>{{convertTimestampToTime(weatherData.sys.sunrise)}}</span></p>
            <p><b>Sunset: </b><span>{{convertTimestampToTime(weatherData.sys.sunset)}}</span></p>
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="footer">
  <button mat-button mat-dialog-close class="cancelButton">Cancel</button>
</mat-dialog-actions>