* {
    /* background-color: #D3D3D3; */
    border-radius: 10px;
}
.left {
    background-color: #e9ebee;
}
.right {
    background-color: white;
    height: 100%;
}
.right h1 {
    font-weight: 800;
    text-align: center;
    overflow: scroll;
}
.grid-container {
    display: grid;
    grid-template-columns: 35% 65%;
}
@media screen and (max-width:1100px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}